/* ====== ZÁKLADNÍ STYLING ====== */
:root {
  --text: #4f5257;
  --background-1: #e9edf0;
  --background-meditation1: #F9FAFB;
  --background-meditation3: #D9E2E8;
  --blue: #52748a;
  --white: white;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  /* Zakáže horizontální posouvání */
}

body {
  font-family: 'Mulish', sans-serif;
  color: var(--text);
  background: var(--white);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 18px;

}

section {
  overflow: hidden;
}

.strong-inline {
  display: inline-block;
}

.strong-block {
  display: block;
  margin-top: 10px;
  /* Zvýší mezeru mezi <br /> a <strong> */
}

a,
link {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.5rem;
  color: #52748a;
}

a {
  color: var(--text);
}


/* ====== NAVIGACE ====== */
.navbar {
  width: 100%;
  background: var(--white);
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  width: 90%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo vlevo */
.nav-left .logo {
  display: flex;
  align-items: center;
}

.nav-left .logo img {
  margin-right: 10px;
  transition: transform 0.2s ease;
}


.nav-left .logo img:hover {
  transform: translateY(-3px)
}


/* Navigace vpravo */
.nav-right nav {
  display: flex;
  align-items: center;
}

.nav-right a {
  color: var(--text);
  text-decoration: none;
  margin-left: 20px;
  padding: 10px 10px;
  transition: color 0.3s, transform 0.2s ease;
}


.nav-right a:hover {
  background-color: var(--blue);
  color: white;
  border-radius: 50px;
  transform: translateY(-3px);
}

/* Hambuger menu (mobilní verze) */
.hamburger {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  display: none;
  color: var(--text);
  /* Skrýt na větších obrazovkách */
}

/* Mobilní menu */
.mobile-menu {
  display: none;
  /* Výchozí stav - skryté */
  flex-direction: column;
  align-items: center;
  background: white;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;
  z-index: 100;
}

.mobile-menu a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.mobile-menu a:hover {
  background: #f5f5f5;
  border-radius: 5px;
}


/* ====== TLAČÍTKA ====== */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 30px;
  border: 2px solid var(--blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--blue);
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  transition: background 0.3s, color 0.3s;
  font-family: 'Mulish', sans-serif;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.button:hover {
  background: var(--white);
  color: var(--blue);
  transform: translateY(-3px)
}

.button-hero {
  color: var(--white);
  border-color: white;
  background-color: transparent;
}

#button-nav {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 30px;
  border: 2px solid var(--blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--blue);
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  transition: background 0.3s, color 0.3s;
  font-family: 'Mulish', sans-serif;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


/* ====== HERO SEKCE ====== */
.hero {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: relative;
  z-index: 2;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.hero-text h1 {
  margin-bottom: 15px;
  text-align: center;

}

/* ====== SECTIONS ====== */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 20px;
}

.info-text {
  text-align: left;
}

.benefits-h3 {
  margin-top: 50px;
  text-align: center;
}


.points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.points {
  padding-left: 0;
}

.point {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  padding: 12px 18px;
  margin-bottom: 15px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(135deg, #f0f4ff, #D9E2E8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.point::before {
  content: "✔";
  color: var(--blue);
  font-size: 20px;
  margin-right: 12px;
}



.cards {
  background: var(--background-meditation1);
}

.cards-heading {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: var(--white);
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-imgwrap img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-textwrap {
  padding: 20px;
  text-align: center;
}

.benefits .container {
  text-align: center;
  /* Zarovná obsah na střed */
}

.benefits-img {
  max-width: 600px;
  width: 100%;
  /* Zajistí responzivitu */
  display: block;
  margin: 30px auto;
  /* Vycentrování */
}



/* ====== PARALLAX ====== */

.parallax {
  width: 100%;
  min-height: 60vh;
  /* Použij min-height místo height */
  background: url("assets/bloomingFlowers.jpg") center/cover no-repeat;
  background-attachment: fixed;
  /* Parallax efekt na desktopu */
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-cont {
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 10px 50px 10px;
  border-radius: 15px;
}

/* ====== DIGITÁLNÍ DETOX PLÁN GRID ====== */


.container-grid {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;

}

.digitalni-detox .grid {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 30px;
  align-items: center;
}


.grid-leftBox img,
.grid-rightBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Obrázek se přizpůsobí, aniž by se deformoval */
  border-radius: 5px;
}


.grid-leftBox {
  padding: 100px 20px;

}

.grid-rightBox {
  padding-top: 60px;

}


.test-joga {
  padding-bottom: 40px;
}

.phone {
  padding-top: 50px;
}


/* ====== GALERIE ====== */

.instaBox {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;

}

.gallery {

  width: 100%;
  overflow: hidden;
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  flex: 1;
  height: 250px;
  object-fit: cover;
  width: 25%;
}

/* ====== FOOTER ====== */
footer {
  background: var(--blue);
  padding: 30px 20px;
  color: var(--white);

}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.logo-block img {
  height: 70px;
}

.logo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link-block {
  transition: transform 0.2s ease;
}

.link-block:hover {
  transform: translateY(-3px);
}


.instagram {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.instagram:hover {
  transform: translateY(-3px);

}



.kontakt-block {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.copyright {
  text-align: center;
  font-size: 13px;
  margin-top: 50px;
}

/* ====== RESPONSIVITA ====== */
@media (max-width: 768px) {

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar nav {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }


  .hamburger {
    display: block;
    /* Zobraz hamburger menu */
  }

  .mobile-menu {
    display: flex;
    /* Zobraz menu při otevření */
  }

  .container {
    padding: 60px 20px;
  }


  .card-box {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .cards {
    padding: 0;
  }

  .card {
    background: var(--white);
    width: 80vw;
  }

  .parallax {
    background-attachment: scroll;
    /* Mobilní prohlížeče ignorují fixed → použij scroll */
    background-size: cover;
    /* Zajistí, že obrázek není useknutý */
    min-height: 50vh;
    /* Lepší výška pro mobily */
  }

  .parallax-cont {
    display: flex;
    flex-direction: column;
    /* Uspořádání prvků pod sebe */
    justify-content: center;
    /* Zarovnání na střed vertikálně */
    align-items: center;
    /* Zarovnání na střed horizontálně */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: none;
    padding: 20px;
    border-radius: 0;
    height: 100vh;
    /* Nastavení výšky na celou obrazovku */
  }

  .digitalni-detox .grid {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0px;
  }

  .DD-text {
    text-align: left;
  }

  .grid-leftBox {
    padding: 0px 20px 60px 20px;
  }

  .grid-rightBox {
    padding: 60px 20px 0px 20px;
  }

  .phone {
    padding-top: 0px;
  }

  .gallery img {
    width: 50%;
    height: auto;
  }



  footer {
    flex-direction: column;
    text-align: center;
  }

  .kontakt {
    display: none;
  }


  .kontakt-block {
    text-align: center;
    margin-top: 10px;
  }

  .copyright {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .footer-box {
    display: block;
  }
}




/* TBA */
.TBA {
  background-image: url("../notes.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.TBA-cont {
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 300px;
  max-height: 200px;
  padding: 15px;
  border-radius: 15px;
}

/* MINDFULNESS */
.mindfulness {
  background-image: url("../public/mind-hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.box-white {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 30px;
  border-radius: 15px;
}


.more-text {
  color: var(--blue);
  cursor: pointer;
  font-weight: bold;
}

.hidden-text {
  display: none;
  /* Skrytý text ve výchozím stavu */
}

.info-text:hover .hidden-text {
  display: inline;
  /* Zobrazí text při najetí myší */
}


.h3grey {
  color: var(--text);
}



.obsah-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  padding: 100px 20px 0px 20px;
}

.obsah-box {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.obsah-box a {
  display: inline-block;
  /* Prostor mezi odkazy */
  text-decoration: underline;
  /* Odebrání podtržení */
  font-weight: bold;
  font-size: 1.17em;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border-radius: 50px;
}

/*.obsah-box a::before {
  content: "★";
  color: var(--blue);
  font-size: 20px;
  margin-right: 12px;
}*/

.obsah-box a:hover {
  background-color: var(--blue);
  color: white;
  border-radius: 50px;
}

.obsah-logo {
  max-width: 600px;

  object-fit: cover;
}

.klasik {
  display: flex;
  background: var(--background-meditation1);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin: 3% 0px;
}

.klasik-left {
  flex: 0 0 60%;
  padding: 20px;
}

.klasik-right {
  flex: 1;
}

.mindfulness-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.mindfulness-text {
  margin-bottom: 10px;
}

.mindfulness-list {
  padding: 20px;
}

.mindfulness-list li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.klasik-img {
  width: 100%;
  height: 33%;
  object-fit: cover;
  object-position: center;
}

.meditation-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.meditation-item {
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.meditation-item.expanded {
  background-color: var(--background-meditation3);
  /* Světle modrá při rozbalení */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.meditation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meditation-title {
  font-size: 18px;
  font-weight: bold;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}


.toggle-btn:hover {
  transform: translateY(-3px)
}


.toggle-icon {
  width: 75px;
  height: 25px;
}

.meditation-short {
  margin-top: 8px;
}

.meditation-long {
  margin-top: 10px;
  padding: 0 0 20px 20px;

  transition: opacity 0.3s ease-in-out;
}

.test-jogaN {
  padding-bottom: 20px;
}

.next {
  margin-top: 40px;
}

.headlineMedit {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--blue);
}


/*paralax*/
.parallax-mindfulness {
  width: 100%;
  height: 60vh;
  /* Výška na 50% viewportu */
  background: url("../public/mind-fixed.jpg") center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Jak zacit*/
.cardM {
  background: var(--white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-top: 20px;
}

.card-textwrapM {
  padding: 0px 20px 20px 20px;
  text-align: left;
}

.m1 {
  background: var(--white);
}

.m2 {
  background-color: #E9EDF0;
}

.m3 {
  background-color: #D9E2E8;
}

.m4 {
  background-color: #B3C4D1;
}

.m5 {
  background-color: #809DB3;
}

.h5 {
  color: #3c5565;
}


.steps-grid {
  display: grid;
  grid-template-columns: auto 60%;
  gap: 30px;
  align-items: center;
}

.grid-leftBox {
  padding-top: 60px;
  padding-bottom: 0px;
}

.grid-rightBox {
  padding: 0px;
  display: flex;
  justify-items: center;
}

@media (max-width: 768px) {
  .mindfulness {
    height: 100%;
  }

  hero-white {
    font-size: 2.5rem;
  }

  .mindfulness-list {
    padding: 10px;
  }

  .parallax-mindfulness {
    background-attachment: scroll;
    /* Mobilní prohlížeče ignorují fixed → použij scroll */
    background-size: cover;
    /* Zajistí, že obrázek není useknutý */
    min-height: 50vh;
    /* Lepší výška pro mobily */
  }

  .mindfulness-list li {
    display: flex;
    flex-wrap: wrap;
    /* Povolit zalomení obsahu na nový řádek */
    align-items: flex-start;
    /* Lepší zarovnání */
    margin-bottom: 12px;
  }

  .obsah-grid {
    padding: 60px 20px 0px 10px;
    display: block;
  }

  .klasik {
    flex-direction: column;
    /* Přepne na jeden sloupec */
  }

  .klasik-right {
    display: none;
  }

  .klasik-left {
    max-width: 90%;
    /* Omezí šířku textu */
    margin: 0 auto;
  }

  .meditation-short {
    padding-right: 10px;
  }

  .meditation-long {
    padding-right: 10px;
  }

  .obsah-logo {
    margin-left: 0px;
  }

  .steps-grid {
    display: block;
  }

  .grid-leftBox {
    padding-top: 20px;
  }
}



/* ====== PURE SPACE ====== */

.PS-hero {
  background-image: url("../public/sunset.jpg");
  background-size: cover;
  background-position: bottom;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}



.h1purespace,
h2purespace {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.PS-parallax {
  width: 100%;
  height: 60vh;
  /* Výška na 50% viewportu */
  background: url("../public/birds.jpg") center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.law {
  text-align: left;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: -25px;
}

@media (max-width: 768px) {
  .PS-cont {
    margin-top: -165px;
  }

  .PS-parallax {
    background-attachment: scroll;
    /* Mobilní prohlížeče ignorují fixed → použij scroll */
    background-size: cover;
    /* Zajistí, že obrázek není useknutý */
    min-height: 50vh;
    /* Lepší výška pro mobily */
  }
}
